<div class="Guest Show">
<h2> <%=@guest.name%> </h2>
  <table summary="Guest View">
      <tr>
        <th>Email:</th>
        <td> <%= @guest.email %> </td>
      </tr>
  </table>
   <%= form_for [@event, @guest] do |f| %>
       <%= f.select :response, [['Yes','yes'],['No','no'],['Maybe','maybe']] %>
       <%= f.submit 'Respond'  %>
     <% end %>
</div>
