<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <p>Dear <%= @current_guest.firstname %></p>
    <p>You have been invited to: <%= @current_event.name %></p>

    <p><%= @current_event.description %></p>
    <br/>
    <p>Will you be attending? </p>
    <p>Click <a href="/events/<%= @current_event.id %>/guestlists/<%= @current_guest.id %>/response_page/Yes">Yes</a> or <a href="/events/<%= @current_event.id %>/guestlists/<%= @current_guest.id %>/response_page/No">No</a> </p>


  </body>
</html>
