<% provide :head_tags do %>
<meta name='turbolinks-visit-control' content='reload'>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    initMap(<%=@event.latitude%>, <%@event.longitude%>)
  });
</script>
<% end %>

<div class="events show">
  <h2>Details for: <%=@event.name%></h2>
<br>
<br>
  <table summary="Event view" class="table table-hover">
    <tr>

      <td><% if @event.cover_photo.attached? %>
          <img src="<%=(url_for(@event.cover_photo)) %>" border = “0” width = “10px” height=”10px” />

          <% end %>
      </td>
    </tr>
    <tr class="table-active">
      <th>Host</th>
      <td><%= @event.hostname %></td>
    </tr>
    <tr class="table-active">
      <th>Time of Date of Event</th>
      <td><%= @event.date_of_event.strftime("%H:%M on the %-d/%-m/%y") %></td>
    </tr>
    <tr class="table-active">
      <th>Description</th>
      <td><%= @event.description %></td>
    </tr>
    <tr class="table-active">
      <th>Location</th>
      <td><%= @event.location %></td>
    </tr>


    <tr class="table-active">
      <th>Response Cut-Off</th>
      <td><%= @event.rsvp_cut_off.strftime("%-d/%-m/%y %H:%M") %></td>
    </tr>
    <!-- <tr>
      <th>Created</th>
      <td><%= @event.created_at.strftime("%-d/%-m/%y %H:%M") %></td>
    </tr>
    <tr>
      <th>Updated</th>
      <td><%= @event.updated_at.strftime("%-d/%-m/%y %H:%M") %></td>
    </tr> -->
  </table>


</div>
<br>
<br>

<div>
  <%= link_to 'Edit', edit_event_path(@event), {:style=>'color:#WWWWWW;', :class => "btnC"} %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <%= link_to 'Back', events_path, {:style=>'color:#WWWWWW;', :class => "btnC"} %>
  <br>


<br>
<br>
  <%= link_to 'Take Me To The Guest-List', event_guestlists_path(@event), {:style=>'color:#WWWWWW;', :class => "btnD"} %> <br><br><br>
  <%= link_to 'Take Me To The Task-List', event_todo_list_path(@event), {:style=>'color:#WWWWWW;', :class => "btnD"} %>
</div>
