<div class="events show">
  <h2>Show Event</h2>

  <table summary="Event view">
    <tr>
      <th>Cover</th>
      <td><% if @event.cover_photo.attached? %>
        <image src="<%=(url_for(@event.cover_photo, :width => 400, :height => 200))%>">
          <% end %>
      </td>
    </tr>
    <tr>
      <th>Name</th>
      <td><%= @event.name %></td>
    </tr>
    <tr>
      <th>Date of Event</th>
      <td><%= @event.date_of_event %></td>
    </tr>
    <tr>
      <th>Description</th>
      <td><%= @event.description %></td>
    </tr>
    <tr>
      <th>Location</th>
      <td><%= @event.location %></td>
    </tr>
    <tr>
      <th>Response Cut-Off</th>
      <td><%= @event.rsvp_cut_off %></td>
    </tr>
    <tr>
      <th>Created</th>
      <td><%= @event.created_at %></td>
    </tr>
    <tr>
      <th>Updated</th>
      <td><%= @event.updated_at %></td>
    </tr>
  </table>

</div>



<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
