<% provide :head_tags do %>
<meta name='turbolinks-visit-control' content='reload'>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    initMap(<%=@event.latitude%>, <%@event.longitude%>)
  });
</script>
<% end %>

<div class="events show">
  <h2><%=@event.name%></h2>
<br>
<br>
  <table summary="Event view" class="table table-hover">
    <tr>

      <td><% if @event.cover_photo.attached? %>
        <image src="<%=(url_for(@event.cover_photo)) %>">
          <% end %>
      </td>
    </tr>

    <tr class="table-active">
      <th>Time of Date of Event</th>
      <td><%= @event.date_of_event.strftime("%H:%M on the %-d/%-m/%y") %></td>
    </tr>
    <tr class="table-active">
      <th>Description</th>
      <td><%= @event.description %></td>
    </tr>
    <tr class="table-active">
      <th>Location</th>
      <td><%= @event.location %></td>
    </tr>


    <tr class="table-active">
      <th>Response Cut-Off</th>
      <td><%= @event.rsvp_cut_off.strftime("%-d/%-m/%y %H:%M") %></td>
    </tr>
    <!-- <tr>
      <th>Created</th>
      <td><%= @event.created_at.strftime("%-d/%-m/%y %H:%M") %></td>
    </tr>
    <tr>
      <th>Updated</th>
      <td><%= @event.updated_at.strftime("%-d/%-m/%y %H:%M") %></td>
    </tr> -->
  </table>
<br>
  <button type="button" class="btn btn-outline-primary" onclick="btn btn-outline-info">Publish</button>
<br>

</div>
<br>
<br>

<div>
  <%= link_to 'Edit', edit_event_path(@event), {:style=>'color:#WWWWWW;', :class => "btnC"} %>
  <%= link_to 'Back', events_path, {:style=>'color:#WWWWWW;', :class => "btnC"} %>
  <br>

<% render @event.guestlists %>

  <h2>Add a guest:</h2>
  <%= render 'guestlists/form', guestlist: @event.guestlists.build %>

<br>
<br>
  <%= link_to 'Guestlist', guestlists_path, {:style=>'color:#WWWWWW;', :class => "btnC"} %>
</div>
