<h1>Guestlists</h1>

<p>
  Download:
  <%= link_to "CSV", guestlists_path(format: "csv") %> |
  <%= link_to "Excel", guestlists_path(format: "xls") %>
</p>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col"><%= sortable  "firstname" %></th>
      <th scope="col"><%= sortable  "lastname" %></th>
      <th scope="col"><%= sortable  "email" %></th>
      <th scope="col"><%= sortable  "response" %></th>
      <th scope="col"><%= sortable  "dietary_requirements" %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @guestlists.each do |guestlist| %>
      <tr>
        <td><%= guestlist.firstname %></td>
        <td><%= guestlist.lastname %></td>
        <td><%= guestlist.email %></td>
        <td><%= guestlist.response %></td>
        <td><%= guestlist.dietary_requirements %></td>
        <td><%= link_to 'Edit', edit_guestlist_path(guestlist) %></td>
        <td><%= link_to 'Delete', guestlist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<ul class="pager">
      <li class="previous <%= @page == 0 ? 'disabled' : '' %>">
          <%= link_to_if @page > 0, "<< Previous", guestlists_path(page: @page - 1) %>
      </li>

      <li class="next">
          <%= link_to "Next >>", guestlists_path(page: @page + 1) %>
      </li>
   </ul>

<%= link_to 'Add Another Guest', new_guestlist_path, {:style=>'color:#WWWWWW;', :class => "btnC"} %>

<br>
<br>
<h2>Import Guestlist</h2>
<%= form_tag import_guestlists_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>
<br>
<br>

<h1>Number of responses by guests</h1>
<%= pie_chart Guestlist.group(:response).count %>
<h1>Dietary Requirements</h1>
<%= pie_chart Guestlist.group(:dietary_requirements).count %>
