<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">id</Data></Cell>
        <Cell><Data ss:Type="String">firstname</Data></Cell>
        <Cell><Data ss:Type="String">lastname</Data></Cell>
        <Cell><Data ss:Type="String">email</Data></Cell>
        <Cell><Data ss:Type="String">response</Data></Cell>
        <Cell><Data ss:Type="String">dietary_requirements</Data></Cell>
      </Row>
    <% @guestlists.each do |guestlist| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= guestlist.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= guestlist.firstname %></Data></Cell>
        <Cell><Data ss:Type="String"><%= guestlist.lastname %></Data></Cell>
        <Cell><Data ss:Type="String"><%= guestlist.email %></Data></Cell>
        <Cell><Data ss:Type="String"><%= guestlist.response %></Data></Cell>
        <Cell><Data ss:Type="String"><%= guestlist.dietary_requirements %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
