<p id="notice"><%= notice %></p>

<h1>Thank you <%= @guestlist.name %> for your response</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

        <p> Event Name: <%= @event.name %> </p>

        <p> Event Description: <%= @event.description %> </p>

        <p> You have responded: <%= @response_text %> </p>

  </tbody>
</table>
<br>
