

<p>
  <strong>First Name:</strong>
  <%= @guestlist.firstname %>
</p>
<p>
  <strong>Last Name:</strong>
  <%= @guestlist.lastname %>
</p>
<p>
  <strong>Email:</strong>
  <%= @guestlist.email %>
</p>

<p>
  <strong>Response:</strong>
  <%= @guestlist.response %>
</p>
<p>
  <strong>Dietary Requirements:</strong>
  <%= @guestlist.dietary_requirements %>
</p>

<%= link_to 'Edit', edit_event_guestlist_path(@event, @guestlist), {:style=>'color:#WWWWWW;', :class => "btnC"} %> |
<%= link_to 'Back', event_guestlists_path(@event), {:style=>'color:#WWWWWW;', :class => "btnC"} %>
