

<p>
  <strong>Name:</strong>
  <%= @guestlist.firstname %>
</p>
<p>
  <strong>Name:</strong>
  <%= @guestlist.lastname %>
</p>
<p>
  <strong>Email:</strong>
  <%= @guestlist.email %>
</p>

<p>
  <strong>Response:</strong>
  <%= @guestlist.response %>
</p>
<p>
  <strong>Response:</strong>
  <%= @guestlist.dietary_requirements %>
</p>

<%= link_to 'Edit', edit_guestlist_path(@guestlist), {:style=>'color:#WWWWWW;', :class => "btnC"} %> |
<%= link_to 'Back', guestlists_path, {:style=>'color:#WWWWWW;', :class => "btnC"} %>
