<!-- Masthead -->
 <header class="masthead">
   <div class="container h-100">
     <div class="row h-100 align-items-center justify-content-center text-center">
       <div class="col-lg-10 align-self-end">
         <h1 class="text-uppercase text-white font-weight-bold">About RSVPeasy</h1>
         <hr class="divider light my-4">
       </div>
       <div class="col-lg-8 align-self-baseline">
         <p class="text-white-75 font-weight-light mb-5">The easy to use events management system that will keep track of your event responses and more</p>
       </div>
     </div>
   </div>
 </header>

 <!-- About Section -->
 <section class="page-section" id="about">
   <div class="container">
     <div class="row justify-content-center">
       <div class="col-lg-8 text-center">
         <h2 class="text-navy mt-0">Background</h2>
         <hr class="divider light my-4">
         <p class="text-navy-50 mb-4">In 2004 PPG & Co’s sponsor, Vishal Budree, released a RSVP service solution. The idea was conceptualized when he realised there was a gap in the market to fulfil the need of managing RSVPs of an event. The goal of the solution was to simplify the process of organizing and keeping track of guests’ responses to events being hosted. Now in 2019 we're here to give you that very same service digitilised to our modern day. </p>
         <div class="mt-5">
           <img src="<%= asset_path('planning2.jpg') %>" width="720" height="200">
           <hr class="divider light my-4">
         </div>
       </div>
     </div>
   </div>
 </section>

 <!-- Developers Section -->
 <section class="page-section" id="services">
   <div class="container">
     <h2 class="text-center mt-0"> Developers</h2>
     <hr class="my-4">
     <div class="row">
       <div class="col-lg-3 col-md-6 text-center">
         <div class="mt-5">
           <img src="<%= asset_path('ryan.jpeg') %>" width="200" height="200">
           <h3 class="h4 mb-2">Ryan Neill</h3>
           <p class="text-muted mb-0">"Loved working on this project"</p>
         </div>
       </div>
       <div class="col-lg-3 col-md-6 text-center">
         <div class="mt-5">
           <img src="<%= asset_path('azrah.jpg') %>" width="200" height="200">
           <h3 class="h4 mb-2">Azrah Behardien</h3>
           <p class="text-muted mb-0">"I'm all about the UI"</p>
         </div>
       </div>
       <div class="col-lg-3 col-md-6 text-center">
         <div class="mt-5">
           <img src="<%= asset_path('robin.jpeg') %>" width="200" height="200">
           <h3 class="h4 mb-2">Robin Brink</h3>
           <p class="text-muted mb-0">"I'm your go to girl for researching how to solve a problem"</p>
         </div>
       </div>
       <div class="col-lg-3 col-md-6 text-center">
         <div class="mt-5">
           <img src="<%= asset_path('logo_c02.png') %>" width="200" height="200">
           <h3 class="h4 mb-2">Vishal Budree</h3>
           <p class="text-muted mb-0">"I'm the sponsor and helped the team along."</p>
         </div>
       </div>
     </div>
   </div>
 </section>
